In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_excel('/content/drive/MyDrive/Historic data/T20_2.xlsx','Sheet2')

In [4]:
data.head(2)

,innings,ball,runs_off_bat,extras,Powerplay,Death,runs_striker,runs_nonstriker,CRR,Last3overruns,Last3overwkts,Total_Runs,sr_striker,sr_nonstriker,Wicket_till
0,1,0.1,0,0,1,0,0,0,0.0,0,0,188,0.0,0.0,0
1,1,0.2,0,0,1,0,0,0,0.0,0,0,188,0.0,0.0,0

In [5]:
data_new = data[data["ball"] > 6]

In [6]:
data_new.corr()

,innings,ball,runs_off_bat,extras,Powerplay,Death,runs_striker,runs_nonstriker,CRR,Last3overruns,Last3overwkts,Total_Runs,sr_striker,sr_nonstriker,Wicket_till
innings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ball,NaN,1.000000,0.107573,0.041307,NaN,0.828647,0.084657,0.039461,0.119654,0.245618,0.227595,0.041308,0.107412,0.040221,0.625503
runs_off_bat,NaN,0.107573,1.000000,-0.148307,NaN,0.094937,0.137842,0.058513,0.185016,0.131217,-0.076745,0.171429,0.130302,0.067043,-0.058701
extras,NaN,0.041307,-0.148307,1.000000,NaN,0.038796,0.008597,0.002382,0.026603,0.024734,0.007074,0.013703,0.014893,0.006360,0.018427
Powerplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Death,NaN,0.828647,0.094937,0.038796,NaN,1.000000,0.052505,0.006183,0.118073,0.246663,0.219818,0.035870,0.109156,0.047403,0.538137
runs_striker,NaN,0.084657,0.137842,0.008597,NaN,0.052505,1.000000,0.032122,0.365577,0.426957,-0.393028,0.356105,0.515542,0.096697,-0.306464
runs_nonstriker,NaN,0.039461,0.058513,0.002382,NaN,0.006183,0.032122,1.000000,0.341461,0.384385,-0.400034,0.340394,0.098533,0.558443,-0.337133
CRR,NaN,0.119654,0.185016,0.026603,NaN,0.118073,0.365577,0.341461,1.000000,0.645738,-0.097848,0.806267,0.425229,0.414861,-0.326073
Last3overruns,NaN,0.245618,0.131217,0.024734,NaN,0.246663,0.426957,0.384385,0.645738,1.000000,-0.267374,0.545504,0.486722,0.449198,-0.195401
Last3overwkts,NaN,0.227595,-0.076745,0.007074,NaN,0.219818,-0.393028,-0.400034,-0.097848,-0.267374,1.000000,-0.201246,-0.222476,-0.254373,0.526005
Total_Runs,NaN,0.041308,0.171429,0.013703,NaN,0.035870,0.356105,0.340394,0.806267,0.545504,-0.201246,1.000000,0.373081,0.365656,-0.432819
sr_striker,NaN,0.107412,0.130302,0.014893,NaN,0.109156,0.515542,0.098533,0.425229,0.486722,-0.222476,0.373081,1.000000,0.115316,-0.184273
sr_nonstriker,NaN,0.040221,0.067043,0.006360,NaN,0.047403,0.096697,0.558443,0.414861,0.449198,-0.254373,0.365656,0.115316,1.000000,-0.241276
Wicket_till,NaN,0.625503,-0.058701,0.018427,NaN,0.538137,-0.306464,-0.337133,-0.326073,-0.195401,0.526005,-0.432819,-0.184273,-0.241276,1.000000

In [7]:
data_new.columns

Index(['innings', 'ball', 'runs_off_bat', 'extras', 'Powerplay', 'Death',
       'runs_striker', 'runs_nonstriker', 'CRR', 'Last3overruns',
       'Last3overwkts', 'Total_Runs', 'sr_striker', 'sr_nonstriker',
       'Wicket_till'],
      dtype='object')

In [8]:
data_new.isna().sum()

innings            0
ball               0
runs_off_bat       0
extras             0
Powerplay          0
Death              0
runs_striker       0
runs_nonstriker    0
CRR                0
Last3overruns      0
Last3overwkts      0
Total_Runs         0
sr_striker         0
sr_nonstriker      0
Wicket_till        0
dtype: int64

In [9]:
data_new.replace([np.inf, -np.inf], 0, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [10]:
data = pd.DataFrame(data_new)

In [11]:
cols= ['ball', 'runs_off_bat', 'extras', 'Death', 'runs_striker',
       'runs_nonstriker', 'CRR', 'Last3overruns', 'Last3overwkts',
       'sr_striker', 'sr_nonstriker','Wicket_till'
       ]
x = data[cols].values
y = data['Total_Runs'].values

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 13)

In [13]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rf = RandomForestRegressor(n_estimators = 550)
rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
def accuracy(y_test,y_pred):
  count = len(y_test)
  val = 0
  for i in range(count):
    if y_test[i] - 10 <= round(y_pred[i]) <= y_test[i]+ 10:
      val+=1
  return val*100/count

In [ ]:
accuracy(y_test,y_pred)

In [ ]:
def split(y_test,y_pred):
  for k in range(5,20,1):
    val1,val2,val3,c1,c2,c3 = 0,0,0,0,0,0
    for i in range(len(y_test)):
      if 6 < x_test[i][0] < 15:
        if y_test[i] -k <= round(y_pred[i]) <= y_test[i]+ k:
          val2+=1
        c2+=1
      if x_test[i][0] > 15:
        if y_test[i] - k<= round(y_pred[i]) <= y_test[i]+ k:
          val3+=1
        c3+=1
    print(k,val2/c2,val3,c3)

In [ ]:
split(y_test,y_pred)

In [ ]:
plt.plot(y_test[10:20],'g*', y_pred[10:20], 'ro')
for i in range(10,20):
  print(x_test[i][0])

In [ ]:
accuracy(y_test,y_pred)

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

In [ ]:
import pickle
filename = '/content/drive/MyDrive/t20_model.sav'
pickle.dump(rf, open(filename, 'wb'))

In [ ]:
y_pred[10:20],y_test[10:20]